{{#if resume.references.length}}
<section id="references">
	<h2><i class= "fa fa-thumbs-up left"></i> References</h3>
	{{#each resume.references}}
	<div class="item">
        References available upon request
	</div>
	{{/each}}
</section>
{{/if}}
