            <div class="section" id= "skills">
            <h2><i class= "fa fa-tasks left"></i> SKILLS</h2>
            {{#each resume.skills}}
                {{#keywords}}
                <span class= "keywords">{{.}}</span>
                {{/keywords}}
            {{/each}}
            </div><br>
